services:
    app:
        build: ./server
        ports:
            - "${PORT}:${PORT}"
        environment:
            - PORT=${PORT}
            - DATABASE_URL=${DATABASE_URL}
            - JWT_SECRET=${JWT_SECRET}
            - GEMINI_API_KEY=${GEMINI_API_KEY}